@charset "UTF-8";

body{
    background-color: rgb(138, 194, 138);
}

h1{
    color: rgb(0, 77, 0);
}

h1#principal{
    text-align: center;
    color: black;
}

h2{
    color: greenyellow;
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

.destaque{
    color: rgb(170, 255, 0);
}